---
# main.scss
---

@charset "utf-8";

@media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
}

/* Theme overrides */

.search-and-switcher {
    display: flex;
    justify-content: space-between;

    .switch {
        margin-top: 0.35em;
    }
}

.site-logo img {
    filter: invert(52%) sepia(7%) saturate(394%) hue-rotate(163deg) brightness(87%) contrast(95%);
    -webkit-filter: invert(52%) sepia(7%) saturate(394%) hue-rotate(163deg) brightness(87%) contrast(95%);
}

html[data-theme='dark'] {
    @import "dark-theme";
    background-color: $background-color;

    .social-icons .fa-github {
        color: #fff;
    }
}

@import "custom-switcher";
@import "minimal-mistakes";
